@import "./fonts";


.NavHome {

    a {
        text-decoration: none;
        margin:5px;
    }
}

.nav--home:first-of-type {
    border:1px solid black;
}
.nav--home:hover {
    border:1px solid black;
    
}