.Signup {
    margin-bottom:150px;

    &__decoration {
        margin: 20px 0;

        img {
            width: 19rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
    }

    .buttons__container {

    }


}
}

